@import url("https://use.typekit.net/dzs0khy.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html,
body {
  font-family: "futura-pt" !important;
  @apply bg-white px-3 relative flex flex-col min-h-screen bg-no-repeat;
  padding: 0 !important;
}
